body
{
	background: -webkit-linear-gradient(#915A09, #E8950F);
	background: -o-linear-gradient(#915A09, #E8950F);
	background: -moz-linear-gradient(#915A09, #E8950F);
	background: linear-gradient(#915A09, #E8950F);
}

header
{
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000;
	border-right-color: #000;
	border-bottom-color: #000;
	border-left-color: #000;
}

.logo
{
	margin-left: 35px;
}

nav 
{
	text-align: center;
	margin-top: 45px;
	margin-right: 35px;
	margin-bottom: auto;
	margin-left: auto;
	float: right;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-style: italic;
	font-weight: lighter;
	font-variant: small-caps;
	text-transform: lowercase;
	color: #2EA572;
}

a
{
	color: #398C71;
	font-weight: bold;
	text-decoration: none;
}

a:hover
{
	color:#FFF
}

.main
{
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000;
	border-right-color: #000;
	border-bottom-color: #000;
	border-left-color: #000;	
}

.main_picture
{
	margin-top: 10px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.main p
{
	text-align: center;
}

.bottom_container
{
	text-align: center;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000;
	border-right-color: #000;
	border-bottom-color: #000;
	border-left-color: #000;
}

.bottom_container img
{
	margin-top: auto;
	margin-right: 25px;
	margin-bottom: auto;
	margin-left: 25px;
	display: inline-block;
	
}

footer
{
	background: -webkit-linear-gradient(red, blue); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(red, blue); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(red, blue); /* For Firefox 3.6 to 15 */
  background: linear-gradient(red, blue); /* Standard syntax */
}