html
{
	background-color: #193441;
<<<<<<< HEAD
=======
	/*background-image: url("images/background.png");*/
	background-repeat: no-repeat;
	background-attachment: fixed;
>>>>>>> origin/master
	/* The code below is the code to have a gradient from the top to the bottom of the page. Which might be better than the image if we can't figure out how to stretch it across the entire website. Especially when the page is zoomed out.*/
	/*background: -webkit-linear-gradient(#915A09, #E8950F); 
	background: -o-linear-gradient(#915A09, #E8950F);
	background: -moz-linear-gradient(#915A09, #E8950F);
	background: linear-gradient(#915A09, #E8950F);*/
}

header
{
	text-align: center;
	position: relative;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000;
	border-right-color: #000;
	border-bottom-color: #000;
	border-left-color: #000;
}

.logo
{
	width: 100%;
	height: 100%;	
}

nav 
{
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-style: italic;
	font-weight: lighter;
	font-variant: small-caps;
	text-transform: lowercase;
<<<<<<< HEAD
=======
	color: #2EA572;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000;
	border-right-color: #000;
	border-bottom-color: #000;
	border-left-color: #000;
>>>>>>> origin/master
}

a
{
	color: #252255245;
	font-weight: bold;
	text-decoration: none;
	margin-right: 40px;
	margin-left: 40px;
}

a:hover
{
	color:#FFF
}

.main
{
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000;
	border-right-color: #000;
	border-bottom-color: #000;
	border-left-color: #000;	
}

.main_picture
{
	margin-top: 10px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.main p
{
	text-align: center;
}

.bottom_container
{
	text-align: center;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000;
	border-right-color: #000;
	border-bottom-color: #000;
	border-left-color: #000;
}

.bottom_container img
{
	margin-top: auto;
	margin-right: 25px;
	margin-bottom: auto;
	margin-left: 25px;
	display: inline-block;
	
}

footer
{
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000;
	border-right-color: #000;
	border-bottom-color: #000;
	border-left-color: #000;
}