html
{
	background-color: #193441;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

header
{
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000;
	border-right-color: #000;
	border-bottom-color: #000;
	border-left-color: #000;
}

.logo
{
	margin-left: 35px;
}

nav
{
	text-align: center;
	margin-top: 45px;
	margin-right: 35px;
	margin-bottom: auto;
	margin-left: auto;
	float: right;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-style: italic;
	font-weight: lighter;
	font-variant: small-caps;
	text-transform: lowercase;
	color: #2EA572;
}

a
{
	color: #398C71;
	font-weight: bold;
	text-decoration: none;	
}

a:link
{
	color: #398C71;
}

a:visited
{
	color: #398C71;
}

a:hover
{
	color:#FFF
}

h1
{
	text-align: center;
	color: #4140FF ;
	padding-top: 35px;
	font-family: Arial, Helvetica, sans-serif;
}

.intown {
	padding-top: 170px;
	padding-bottom: 50px;
	padding-left: 63px;
}

.intown h1 {
	text-align: center;
	text-decoration: underline;
	color: #fcfff5;	
}
	
.out {
	padding-left: 63px;
	padding-top: 20px;
	
}

.out h1 {
	text-align: center;
	text-decoration: underline;
	color: #fcfff5;	
}

.first_map {
	float: left;
}

.first_map p {
	float: right;
}

.bottom_container
{
	text-align: center;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000;
	border-right-color: #000;
	border-bottom-color: #000;
	border-left-color: #000;
}

.bottom_container img
{
	margin-top: auto;
	margin-right: 25px;
	margin-bottom: auto;
	margin-left: 25px;
	display: inline-block;
	
}

footer
{
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000;
	border-right-color: #000;
	border-bottom-color: #000;
	border-left-color: #000;
}
	
#calendar iframe {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 60px;
}
#apDiv4 p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	color: #fcfff5;
	padding-top: 25px;
}
#apDiv5 p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #fcfff5;
	font-style: normal;
}
#apDiv6 p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #fcfff5;
	font-style: normal;
}
