html
{
	background-color: #193441;
	/*background-image: url("images/background.png");*/
	background-repeat: no-repeat;
	background-attachment: fixed;
}

header
{
	text-align: center;
	position: relative;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000;
	border-right-color: #000;
	border-bottom-color: #000;
	border-left-color: #000;
}

.logo
{
	float: left;
	border: thick solid #000;
}

header
{
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-style: italic;
	font-weight: lighter;
	font-variant: small-caps;
	text-transform: lowercase;
	color: #2EA572;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000;
	border-right-color: #000;
	border-bottom-color: #000;
	border-left-color: #000;
}

a
{
	color: #252255245;
	font-weight: bold;
	text-decoration: none;
	margin-right: 10px;
	margin-left: 10px;
}

a:visited
{
	color: #398C71;
}

a:hover
{
	color:#FFF;
}

.main
{
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000;
	border-right-color: #000;
	border-bottom-color: #000;
	border-left-color: #000;	
}

.main_picture
{
	margin-top: 10px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.main p
{
	text-align: center;
}

.bottom_container
{
	text-align: center;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000;
	border-right-color: #000;
	border-bottom-color: #000;
	border-left-color: #000;
}

.bottom_container img
{
	margin-top: auto;
	margin-right: 25px;
	margin-bottom: auto;
	margin-left: 25px;
	display: inline-block;
	
}

footer
{
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000;
	border-right-color: #000;
	border-bottom-color: #000;
	border-left-color: #000;
}