html
{
	background-color: #193441;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

header
{
	border: thick solid #000;
}

.logo
{
	float: left;
}

.nav
{
	float: right;
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-style: italic;
	font-weight: lighter;
	font-variant: small-caps;
	text-transform: lowercase;
	color: #2EA572;
}

a
{
	color: #252255245;
	font-weight: bold;
	text-decoration: none;
}

a:visited
{
	color: #398C71;
}

a:hover
{
	color:#FFF;
}